
config/fantasticlib/reference/sounds.txt
config/fantasticlib/reference/recipes.txt
config/fantasticlib/reference/potion_types.txt
config/fantasticlib/reference/oredict.txt
config/fantasticlib/reference/items.txt
config/fantasticlib/reference/entities.txt
config/fantasticlib/reference/enchantments.txt
config/fantasticlib/reference/blockstates.txt
config/fantasticlib/reference/blocks.txt
config/customloadingscreen_timings.nbt
config/AppliedEnergistics2/VersionChecker.cfg
config/AppliedEnergistics2/items.csv
config/AppliedEnergistics2/CustomRecipes.cfg
config/fantasticlib/reference/sounds.txt
config/fantasticlib/reference/recipes.txt
config/fantasticlib/reference/potion_types.txt
config/fantasticlib/reference/oredict.txt
config/fantasticlib/reference/items.txt
config/fantasticlib/reference/entities.txt
config/fantasticlib/reference/enchantments.txt
config/fantasticlib/reference/blockstates.txt
config/fantasticlib/reference/blocks.txt
config/customloadingscreen_timings.nbt
config/AppliedEnergistics2/VersionChecker.cfg
config/AppliedEnergistics2/items.csv
config/AppliedEnergistics2/CustomRecipes.cfg
config/jei/worldSettings.cfg
config/splash.properties
mods/replaymod-1.12.2-2.5.2.jar
